body{
    margin: 0;
}

.name{
    font-family: 'Courier New', monospace;
    font-size: 5em;
    background: -webkit-linear-gradient(#2193b0, #6dd5ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.introduction{
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-align: center;
}
