body{
    margin: 0;
}

.title{
    font-family: 'Courier New', monospace;
    font-size: 5em;
    background: -webkit-linear-gradient(#cc2b5e, #753a88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.language{
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-align: center;
}
