<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}" type="text/css"/>
    <title>Project</title>
</head>
<body>
    <!-- NAVBAR CODE -->
    <nav>
        <ul class = "menu">
            <li><a class = "button" href = "{{ url_for('about') }}">About</a></li>
            <li><a class = "button" href = "{{ url_for('skills') }}">Skills</a></li>
            <li><a class = "button" href = "{{ url_for('education') }}">Education</a></li>
            <li><a class = "button" href = "{{ url_for('project') }}">Projects</a></li>
            <li><a class="button" href = "{{ url_for('add') }}">Add</a></li>

        </ul>
    </nav>

    <!-- MAIN CODE -->
    <div>
        <h1 class = "title">Add</h1>
        <form name="addForm" id="addForm" method="POST" action="{{ url_for('addpost') }}" novalidate> 
            <p class = "form">
                <label class="project-name">Project Name : <input type="text" class = "inputs" name = "title" id = "title"/></label>
            </p>     
            <p class="form">
                <label class = "description">Description : <textarea rows = "10" cols="20" name = "description" id="description"></textarea></label>
            </p>  
            <div class="center"><button class = "submit-button" type="submit"><p class = "submit">Submit</p></button></div> 
            
            </form>
    </div>

</body>
</html>