<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}" type="text/css"/>
    <title>Navabr</title>
</head>
<body>
    <!-- NAVBAR CODE -->
    <nav>
        <ul class = "menu">
            <li><a class = "button" href = "{{ url_for('about') }}">About</a></li>
            <li><a class = "button" href = "{{ url_for('skills') }}">Skills</a></li>
            <li><a class = "button" href = "{{ url_for('education') }}">Education</a></li>
            <li><a class = "button" href = "{{ url_for('project') }}">Projects</a></li>
            <li><a class="button" href = "{{ url_for('add') }}">Add</a></li>

        </ul>
    </nav>

    <!-- EDUCATION CODE -->
    <div>
        <h1 class = "title">Education</h1>

        <div class = "content">
            <p class = "school">Rajeev Gandhi University of Knowledge Technologies, Andhra Pradesh</p>
            <p class = "degree">Pre University Course</p>
            
        </div>

        <div class = "content">
            <p class = "school">Rajeev Gandhi University of Knowledge Technologies, Andhra Pradesh</p>
            <p class = "degree">Bachelor of Tecchnology </p>
            
        </div>
        
    </div>
</body>
</html>